body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:840px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:840px;
}
#u1 {
  position:absolute;
  left:2px;
  top:412px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:16px;
  top:19px;
  width:448px;
  height:252px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:252px;
}
#u3 {
  position:absolute;
  left:2px;
  top:118px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:300px;
  top:15px;
  width:164px;
  height:257px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:257px;
}
#u5 {
  position:absolute;
  left:2px;
  top:120px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:320px;
  top:102px;
  width:134px;
  height:97px;
  font-family:'AppleGothic', 'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:97px;
}
#u7 {
  position:absolute;
  left:0px;
  top:-20px;
  width:134px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:320px;
  top:35px;
  width:124px;
  height:30px;
  font-family:'AppleGothic', 'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C9C9C9;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u9 {
  position:absolute;
  left:0px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:291px;
  width:434px;
  height:244px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:244px;
}
#u11 {
  position:absolute;
  left:2px;
  top:114px;
  width:430px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:16px;
  top:284px;
  width:164px;
  height:257px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:257px;
}
#u13 {
  position:absolute;
  left:2px;
  top:120px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:26px;
  top:396px;
  width:134px;
  height:97px;
  font-family:'AppleGothic', 'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:97px;
}
#u15 {
  position:absolute;
  left:0px;
  top:-28px;
  width:134px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:36px;
  top:322px;
  width:124px;
  height:30px;
  font-family:'AppleGothic', 'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C9C9C9;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u17 {
  position:absolute;
  left:0px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:16px;
  top:566px;
  width:441px;
  height:248px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:248px;
}
#u19 {
  position:absolute;
  left:2px;
  top:116px;
  width:437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:300px;
  top:557px;
  width:164px;
  height:257px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:257px;
}
#u21 {
  position:absolute;
  left:2px;
  top:120px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:320px;
  top:664px;
  width:134px;
  height:97px;
  font-family:'AppleGothic', 'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:97px;
}
#u23 {
  position:absolute;
  left:0px;
  top:-2px;
  width:134px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:320px;
  top:600px;
  width:124px;
  height:30px;
  font-family:'AppleGothic', 'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C9C9C9;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u25 {
  position:absolute;
  left:0px;
  top:-14px;
  width:124px;
  word-wrap:break-word;
}
